<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYbl8UTrVfvWNY0puI3zUp0aNJnAZy9WU</string>
	<key>BUNDLE_ID</key>
	<string>com.keithcaffrey.alboom</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ALBOOM</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string></string>
			</array>
			<key>Item 0</key>
			<string>alboom</string>
			<key>URL Identifier</key>
			<string>com.keithcaff.alboom</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>BUNDLE_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.keithcaffrey.alboom</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>REVERSED_CLIENT_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.846609866933-a2av32btvqv5rpknqb3khruc7f6hm89r</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>CLIENT_ID</key>
	<string>846609866933-a2av32btvqv5rpknqb3khruc7f6hm89r.apps.googleusercontent.com</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:846609866933:ios:b101a27f61e70d10</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Need camera access for uploading Images</string>
	<key>NSLocationUsageDescription</key>
	<string>Need location access for tagging photo locations</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need Library access for uploading Images</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>eventapp-1c7b4</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846609866933-a2av32btvqv5rpknqb3khruc7f6hm89r</string>
	<key>UIDeviceFamily</key><array><string>1</string></array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>EAMain</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
